<%= render layout: 'users/settings_menu', locals: { active_page: 'delete' } do %>
	<div class="panel panel-default">
		<div class="panel-heading"><h3 class="text-center">Delete Account</h3></div>
		<div class="panel-body">
			<%= form_for @current_user, url: delete_user_path, method: :delete, html: { id: nil, class: nil } do |f| %>
				<div class="alert alert-danger<%= ' hide' if @current_user.errors.empty? %>" role="alert"><%= @current_user.errors.full_messages.join('<br>').html_safe %></div>
				<div class="form-group">
					<label class="control-label" for="password">Current Password:</label>
					<input type="password" id="password" class="form-control" name="password">
				</div>
				<button type="submit" class="btn btn-primary">Delete Account</button>
			<% end %>
		</div>
	</div>
<% end %>
